
{% extends 'base.html' %}

{% block content %}
<main role="main">
    <style>
        body {
      font-family: Arial;
    }
    
    * {
      box-sizing: border-box;
    }
    
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 100%;
      background: #f1f1f1;
    }
    form.example button {
        float: left;
        width: 40%;
        padding: 10px;
        background: rgb(22, 24, 26);
        color: white;
        font-size: 15px;
        border: 0.1px solid grey;
        border-left: none;
        cursor: pointer;
      }
    </style>

    <div class="row" style="margin: auto">
        <div class="center">
            <form method="POST" class="example" style="margin:auto;max-width:300px">
                {{ form.csrf_token }}
                <div class ="form-group">
                    {{ form.search(class="form-control", 
                    placeholder="O que deseja?") }}
                </div>
                <button type="submit" class="btn btn-default">Buscar
                </button>
            </form>
        </div>
    </div>

    <div >
      <ul>
        <!-- {% if search %} -->
        <h1>{{ busca }}</h1>
          <li style="font-size: 30pt"><input type="checkbox">Achou algo</li>
          <!-- {% endif %} -->
        </ul>
    </div>
  
        <!-- <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Bem vindo a sua empresa</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
      
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>
          <hr>
        </div> /container -->
      
      </main>
 {% endblock %}     