<style>
    body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
</style>

<div class="row">
    <div class="center">
        <form class="example" action="" method="POST" style="margin:auto;max-width:300px">
            {{ form.csrf_token }}
            <div class ="form-group">
                {{ form.search(class="form-control", 
                placeholder="O que deseja?") }}
            </div>
            <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>